.inputMsg {
    position:absolute;
    width:90%;
    bottom:55px;
    right:20px;
}
.button {
    position:absolute;
    bottom:5px;
    right:10px;
}

.my-message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.my-message {
    background-color: #f7e600;
    border-radius: 8px;
    padding: 8px;
    max-width: 200px;
    font-size: 12px;
}
.your-message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    align-items: center;
  }
  .your-message {
    background-color: darkgray;
    border-radius: 8px;
    padding: 8px;
    max-width: 200px;
    font-size: 12px;
  }